amqp
asgiref
attrs
autobahn
Automat
billiard
cbor2
celery
cffi
channels
channels_redis
click
click-didyoumean
click-plugins
click-repl
constantly
cryptography
daphne
Django
django-cors-headers
django-polymorphic
django-stubs
django-stubs-ext
djangorestframework
djangorestframework_simplejwt
gunicorn
hyperlink
idna
Incremental
kombu
msgpack
packaging
prompt_toolkit
psycopg2-binary
py-ubjson
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
python-dateutil
python-decouple
redis
service-identity
six
sqlparse
Twisted
txaio
types-PyYAML
typing_extensions
tzdata
tzlocal
ujson
vine
wcwidth
websockets
zope.interface
